{% extends 'basic.html'%} {% block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TImer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
    </div>

    <div style="right:40%">
        {% for blog in blogs %}
        <div style="padding:20px;margin-left:20rem;">
            <div style="text-transform:capitalize;">
                <div>
                    <h1>author:{{blog.author}}</h1>
                </div>
                <div>
                    <h5>{{blog.datePosted}}</h5>
                </div>
            </div>
            <div>
                <div>
                    <h1>{{blog.title}}</h1>
                </div>
                <div>
                    <p>{{blog.content}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</nav>

<div style="max-width: 40rem;
margin: auto;
max-height: 800px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
padding: 3rem;
margin-top: 50px;
margin-bottom: 50px;">
    <form action="" method="POST">
        {% csrf_token%} {{form.as_p}}
        <button type="submit" id="submit-btn">Submit</button>
    </form>
</div>
{% endblock %}